<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<script src="angular/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="index.css">
		<script src='./index.js'></script>
	</head>
	<body>	<p align=right>Co-developed by <a target='_blank' href="https://mail.google.com/mail/?view=cm&fs=1&to=parthvenkatesh.com">Parth Venkatesh</a> and <a target='_blank' href="https://mail.google.com/mail/?view=cm&fs=1&to=shubhamrouniyar1998@gmail.com" >Shubham Rouniyar</a></p>
		<div ng-controller='ctrl' data-ng-init='load()' id='main'>
			<center><img src='https://cdn.iconscout.com/icon/free/png-256/pending-5-861794.png' height='100px' width='100px'></center><br>
			<center><h3>Todo List Lite</h3></center>
			<center><textarea style='width:300px;height:90px' ng-model='data'></textarea><br></center><br><br>
			<center><button ng-click='save(data)'>Add Job ToDo</button>
			<button ng-click='rem()'>Delete Selected</button></center>
			<center><ul id='list' >
			</ul></center>
		</div>
	</body>
</html>
