body{
	background-color:pink;
}

#main {
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

#list{
	width:300px;
	white-space: nowrap;

}

ul> li{
	border:1px solid black;
	margin:4px;
	width:300px;
}
